apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: gowebapp-cluster
  region: ap-south-1
  version: "1.33"

vpc:
  id: vpc-000864536c77a034a
  subnets:
    private:
      ap-south-1a:
        id: subnet-0a402f14f33d421bf
      ap-south-1b:
        id: subnet-05161e054fd2df2da
      ap-south-1c:
        id: subnet-0da7418b978e64bb2

managedNodeGroups:
  - name: gowebapp-nodegroup
    instanceType: t3.medium
    desiredCapacity: 2
    minSize: 1
    maxSize: 2
    volumeSize: 25
    privateNetworking: true
    subnets:
      - subnet-0a402f14f33d421bf
      - subnet-05161e054fd2df2da
      - subnet-0da7418b978e64bb2
    securityGroups:
      withShared: true
      withLocal: true
    ssh:
      allow: true

# Security group configuration for allowing all traffic and same SG traffic
securityGroupRules:
  - name: allow-all-ingress
    description: "Allow all inbound traffic"
    protocol: "-1"
    fromPort: 0
    toPort: 65535
    cidr: "0.0.0.0/0"
    type: "ingress"
  - name: allow-all-egress
    description: "Allow all outbound traffic"
    protocol: "-1"
    fromPort: 0
    toPort: 65535
    cidr: "0.0.0.0/0"
    type: "egress"
  - name: allow-same-sg-ingress
    description: "Allow traffic from same security group"
    protocol: "-1"
    fromPort: 0
    toPort: 65535
    sourceSecurityGroupId: "self"
    type: "ingress"


